@model IEnumerable<InAndOut.Models.Student>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Student List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Student" asp-action="Create" class="btn btn-outline-primary">Create new Student</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {

        <p>
            @using (Html.BeginForm("Index", "Student", FormMethod.Get))
            {
                 <b>Search</b>@Html.RadioButton("Searchby", "Name",true)<b>Name</b>
                 @Html.RadioButton("Searchby", "Section")<b>Section</b>
                 @Html.TextBox("Search")<input type="submit" value="Search" />

            }
        </p>


        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th style="text-align:center">
                        Name
                    </th>
                    <th style="text-align:center">
                        Gender
                    </th>
                    <th style="text-align:center">
                        Section
                    </th>
                    <th style="text-align:center">
                        Birth Date
                    </th>
                    <th style="text-align:center">
                        Phone
                    </th>
                    <th style="text-align:center">
                        Address
                    </th>
                    <th style="text-align:center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td width="5%">@student.Id</td>
                        <td style="text-align:center" width="10%">@student.Name</td>
                        <td style="text-align:center" width="10%">@student.Gender</td>
                        <td style="text-align:center" width="10%">@student.Section</td>
                        <td style="text-align:center" width="10%">@student.BirthDate</td>
                        <td style="text-align:center" width="10%">@student.PhoneNo</td>
                        <td style="text-align:center" width="20%">@student.Address</td>
                        <td style="text-align:center" width="10%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Student" asp-action="Update" asp-route-Id="@student.Id" class="btn btn-outline-primary mx-1">Update</a>
                                <a asp-controller="Student" asp-action="Delete" asp-route-Id="@student.Id" class="btn btn-outline-danger mx-1">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No students created yet</p>
    }

</div>

