@model IEnumerable<InAndOut.Models.Employee>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Employee List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Employee" asp-action="Create" class="btn btn-outline-primary">Create new Employee</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th style="text-align:center">
                        First Name
                    </th>
                    <th style="text-align:center">
                        Last Name
                    </th>
                    <th style="text-align:center">
                        Gender
                    </th>
                    <th style="text-align:center">
                        Designation
                    </th>
                    <th style="text-align:center">
                        PhoneNo
                    </th>
                    <th style="text-align:center">
                        Address
                    </th>
                    <th style="text-align:center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td width="5%">@employee.Id</td>
                        <td style="text-align:center" width="10%">@employee.FirstName</td>
                        <td style="text-align:center" width="10%">@employee.LastName</td>
                        <td style="text-align:center" width="10%">@employee.Gender</td>
                        <td style="text-align:center" width="10%">@employee.Designation</td>
                        <td style="text-align:center" width="10%">@employee.PhoneNo</td>
                        <td style="text-align:center" width="20%">@employee.Address</td>
                        <td style="text-align:center" width="10%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Employee" asp-action="Update" asp-route-Id="@employee.Id" class="btn btn-outline-primary mx-1">Update</a>
                                <a asp-controller="Employee" asp-action="Delete" asp-route-Id="@employee.Id" class="btn btn-outline-danger mx-1">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Employees created yet</p>
    }

</div>

