@model IEnumerable<InAndOut.Models.Employee>


<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Employee List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-controller="Employee" asp-action="Create" class="btn btn-outline-primary">Create new Employee</a>
    </div>
</div>
<br />


@if (Model.Count() > 0)
{

    <div class="container-fluid">
        <div class="row">

            @using (Html.BeginForm("Index", "Employee", FormMethod.Post))
            {
                <div class="form-horizontal">

                    <div class="form-group">

                        <label class="col-md-2 control-label">Search</label>

                        <div class="d-flex">

                            <input type="text" name="searchTxt" class="form-control" placeholder="Search your text here" style="max-width: 100%" />

                            <div class="ml-2">
                                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span>Search</button>
                            </div>
                        </div>

                        @*@Html.Label("Search", new { @class= "col-md-2 control-label" })

                            <div class="col-md-6">
                                @Html.TextBox("searchTxt", null, new { @class= "form-control", @placeholder = "Search your text here", @style = "max-width: 100%" })
                            </div>

                            <div class="col-md-2">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>*@

                    </div>


                </div>

            }

        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th style="text-align:center">
                                Name
                                @*@Html.ActionLink("Name", "Index", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Name", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })*@
                            </th>
                            <th style="text-align:center">
                                Email
                                @*@Html.ActionLink("Name", "Index", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Name", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })*@
                            </th>
                            <th style="text-align:center">
                                Gender
                                @*@Html.ActionLink("Gender", "Index", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Gender", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })*@
                            </th>
                            <th style="text-align:center">
                                Designation
                                @*@Html.ActionLink("Section", "Index", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Section", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })*@
                            </th>
                            <th style="text-align:center">
                                Phone No
                                @*@Html.ActionLink("Phone", "Index", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Phone", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })*@
                            </th>
                            <th style="text-align:center">
                                Address
                                @*@Html.ActionLink("Address", "Index", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Address", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })*@
                            </th>
                            <th style="text-align:center">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var employee in Model)
                        {
                            <tr>
                                <td width="5%">@employee.Id</td>
                                <td style="text-align:center" width="10%">@employee.Name</td>
                                <td style="text-align:center" width="10%">@employee.Email</td>
                                <td style="text-align:center" width="10%">@employee.Gender</td>
                                <td style="text-align:center" width="10%">@employee.Designation</td>
                                <td style="text-align:center" width="10%">@employee.PhoneNo</td>
                                <td style="text-align:center" width="20%">@employee.Address</td>
                                <td style="text-align:center" width="10%">
                                    <div class="w-100 btn-group" role="group">
                                        <a asp-controller="Employee" asp-action="Update" asp-route-Id="@employee.Id" class="btn btn-outline-primary mx-1">Update</a>
                                        <a asp-controller="Employee" asp-action="Delete" asp-route-Id="@employee.Id" class="btn btn-outline-danger mx-1">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


                @{

                    double totalPages = ViewBag.TotalPages;

                    <ul class="pagination">
                        <div class="mr-2">
                            @if (ViewBag.PageNumber == 1)
                            {
                            <li>
                                @Html.ActionLink("Previous", "Index", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Name" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber })
                            </li>

                        }
                        else
                        {

                            <li>
                                @Html.ActionLink("Previous", "Index", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Name" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 })
                            </li>

                        }
                    </div>



                    @for (int i = 1; i <= totalPages; i++)
                    {

                        if (i == ViewBag.PageNumber)
                        {


                            <li class="ml-3">
                                @Html.ActionLink(i.ToString(), "Index", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Name" : ViewBag.SortBy, PageNumber = i })
                            </li>

                        }

                        else
                        {

                            <li class="ml-3">
                                @Html.ActionLink(i.ToString(), "Index", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Name" : ViewBag.SortBy, PageNumber = i })
                            </li>

                        }


                    }



                    <div class="ml-4">

                        @if (ViewBag.PageNumber == totalPages)
                        {

                            <li>
                                @Html.ActionLink("Next", "Index", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Name" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber })
                            </li>
                        }

                        else
                        {

                            <li>
                                @Html.ActionLink("Next", "Index", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Name" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 })
                            </li>

                        }
                    </div>

                    </ul>

                }

            </div>

        </div>

        </div>

    }
    else
    {
        <p>No such Employee record created yet</p>
    }









